
    body{
        margin: 0 auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;

    }
    header{
       
       background-color: black;
       color: white;
       margin: 0 auto;
       width: 70%;

    }
    h1{
        text-align: center;
    }
    nav{
        margin: auto 0;
        width: 70%;
    }